WHATSAPP_ENABLED=true
WHATSAPP_ACCOUNT_SID=
WHATSAPP_AUTH_TOKEN=
WHATSAPP_FROM=[WHATSAPP_FROM]
WHATSAPP_DEFAULT_COUNTRY_CODE=+91
WHATSAPP_BUSINESS_NAME=[WHATSAPP_BUSINESS_NAME]
WHATSAPP_NUMBER=[WHATSAPP_NUMBER]
ADMIN_WHATSAPP_NUMBER=

CLIENT_ORIGIN=[CLIENT_ORIGIN]
SSL_CN=[SSL_CN]
SSL_ALT_NAMES=[SSL_ALT_NAMES]
SSL_DAYS=[SSL_DAYS]

ADMIN_USERNAME=[ADMIN_USERNAME]
ADMIN_PASSWORD=[ADMIN_PASSWORD]
ADMIN_AUTH_SECRET=[ADMIN_AUTH_SECRET]
ADMIN_TOKEN_TTL_SECONDS=43200
ADMIN_VIEW_USER=[ADMIN_VIEW_USER]
ADMIN_VIEW_PASSWORD=[ADMIN_VIEW_PASSWORD]
