WHATSAPP_ENABLED=true
WHATSAPP_ACCOUNT_SID=
WHATSAPP_AUTH_TOKEN=
WHATSAPP_FROM=[WHATSAPP_FROM]
WHATSAPP_DEFAULT_COUNTRY_CODE=+91
WHATSAPP_BUSINESS_NAME=[WHATSAPP_BUSINESS_NAME]
WHATSAPP_NUMBER=[WHATSAPP_NUMBER]
ADMIN_WHATSAPP_NUMBER=

CLIENT_ORIGIN=http://localhost:8081
SSL_CN=localhost
SSL_ALT_NAMES=DNS:localhost,IP:127.0.0.1
SSL_DAYS=3650

ADMIN_USERNAME=admin
ADMIN_PASSWORD=password
ADMIN_AUTH_SECRET=secret
ADMIN_TOKEN_TTL_SECONDS=43200
ADMIN_VIEW_USER=admin
ADMIN_VIEW_PASSWORD=password
