node_modules
.env
.DS_Store
npm-debug.log*
.idea
.vscode
devops/ansible/inventory.ini
devops/terraform/aws-ec2/.terraform/
devops/terraform/aws-ec2/*.tfstate
devops/terraform/aws-ec2/*.tfstate.*
devops/terraform/aws-ec2/terraform.tfvars
devops/terraform/aws-ec2/.terraform.lock.hcl
devops/terraform/aws-ec2/.env
devops/terraform/aws-ec2/.DS_Store
devops/terraform/aws-ec2/.idea/
devops/terraform/aws-ec2/.vscode/
